
<h1><%=@user.user_name%></h1>
<% if current_user == @user %>
<%= link_to "Edit your profile", edit_user_registration_path %> <br>
<%= button_to "Cancel my account", destroy_user_session_path, data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end%>

<% if @user.avatar %>
  <img class="avatar" src="<%= @user.avatar %>"/>
<% else %>
  <%= image_tag "/assests/default_pic.jpg", class:'avatar'%>
<%end%>

<h3>Favorite Show: </h3>
<% if @user.favorite_show %>
  <%= @user.favorite_show %>
<%else%>
<h4>Not yet decided</h4>
<%end%>
