<!DOCTYPE html>
<html>
  <head>
    <title>StreamGuide</title>
    <!-- <meta charset="utf-8" /> -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <%= javascript_include_tag 'vendor/custom.modernizr' %> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <!-- <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script> -->
  </head>

  <body>
    <div class="top-bar">
      <%= link_to "Home", "/" %>

      <% if current_user %>
        <%= link_to current_user.user_name, user_path(current_user.id)  %>

        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>

    <p class="Notice"> <%=notice %> </p>
    <p class="Alert"> <%=alert %> </p>
    <div class="large-10 large-centered columns">
      <%= yield %>
    </div>
  </body>
</html>
